<style>


.main-content {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction : column;
}

.text-box-container {
    display: flex;
    align-items: center;
    flex-direction : column;
}

.main-text-area {
    width:90%;
    min-height: 12em;
}

.stop-words-text-area {
    width:90%;
    min-height:12em;
}


.instructions {
    text-align: center;
    font-weight: bold;
    font-size: 15pt;
}

::slotted(.stop-word) {
    color: rgb(235, 233, 233);
    background-color: red;
    font-weight: bold;
}

:host ::ng-deep .stop-word { 
    color: rgb(235, 233, 233);
    background-color: red;
    font-weight: bold;
}

.preview-pane {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14pt;
}

</style>

<h1>Stop-Word Editor</h1>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 text-box-container">
            <p class="instructions">Stop Words</p>
                <textarea 
                    class="form-control stop-words-text-area"
                    [(ngModel)]="stopWordsText"
                    (ngModelChange)="handleStopWordsChange($event)"
                >
                </textarea>

            </div>
            <div class="col-md-9 text-box-container">
                <p class="instructions">Your Beautiful Words</p>
                <textarea 
                    class="form-control main-text-area"
                    [(ngModel)]="bufferText"
                    (ngModelChange)="handleTextChange($event)"
                >
                </textarea>
            </div>
            <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8 preview-pane">
                        <p class="instructions ">Preview</p>
                        <p class="previewText" ><slot name="person-age" [innerHTML]="previewHTML"></slot></p>
                    </div>
                    <div class="col-md-2">
                        
                    </div>
            </div>
        </div>

    </div>
    
</div>